h1.menu-title {
  display: none;
}

h2,
h3 {
  margin-block-start: 20px;
  writing-mode: horizontal-tb;
}

.content main {
  max-width: 780px;
}

.content p {
  text-align: justify;
}

table {
  border-spacing: 1px;
  border-collapse: separate;
  width: 100%;
  margin-bottom: 10px;

}